.Notifications {
    border: 2px dashed red;
}

.Notifications button {
    position: absolute;
    margin: 1rem;
    right: 0;
    top: 0;
}

li:first-child {
    color: blue !important;
}

ul li {
    color: red;
}

.close {
    width: 1rem;
}