header {
  display: flex;
  align-items: center;
  color: red;
}

header p {
  font-weight: 400;
}

hr {
  border-color: red;
}

body {
  height: 20rem;
}

body p {
  padding: 1rem;
}

img {
  width: 25%;
}

input {
  margin: .5rem;
}

footer {
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-style: italic;
}