.App-header {
  display: flex;
  align-items: center;
  color: red;
}

.App-header p {
  font-weight: 400;
}

hr {
  border-color: red;
}

.App-body {
  height: 20rem;
}

.App-body p {
  padding: 1rem;
}

img {
  width: 14rem;
}

.App-footer {
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-style: italic;
}